[submodule ".zsh/powerlevel9k"]
	path = .zsh/powerlevel9k
	url = git@github.com:bhilburn/powerlevel9k.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
[submodule ".zsh/anyframe"]
	path = .zsh/anyframe
	url = git@github.com:vkravets/anyframe.git
